# Ignore everything
/*
!.gitignore

# But scripts
!/Ships
/Ships/*
!/Ships/Script/

# But ffs save
!/saves
/saves/*
!/saves/FFS/
/saves/FFS/Ships/VAB/Auto-Saved Ship.craft
/saves/FFS/Ships/SPH/Auto-Saved Ship.craft

# But installed mod
!/CKAN
/CKAN/*
!/CKAN/installed-default.ckan

# But docs
!/docs
